.section {
  height: 100vh;
  width: 100%;
}

body {
  background-color: #9c835f;
}

.h1 .a {
  text-decoration: none;
  color: #724c21;
}

#play {
  display: flex;
  flex-direction: column; 
}

#comu {
  display: flex;
  flex-direction: column; 
}

button {
  background-color: Transparent;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 128px;
  height: 128px;
  margin: 10px;
}

.row {
  text-align: center;
}

#p1 img {
  width: 70%;
  height: 70%;
}

#p2 img {
  width: 70%;
  height: 70%;
}

.re {
  display: flex;
 justify-content: center;
}

#p3 img {
  width: 5%;
  height: 5%;
}

#head img {
  width: 6%;
  height: 6%;
}

.pick {
  background-color: rgb(104, 104, 104);
}

.pick2 {
  background-image: #035b0c;
}

#p3 img:hover {
  cursor: pointer;
}

h2 {
  font-size: 80px;
}



@media (max-width: 750px) {
  h2 {
    font-size: 40px;
    margin-top: 120px;
  }

  #head img {
    width: 12%;
    height: 12%;
  }

  .play {
    width: 100%;
    height: 100%;
  }

  #p1 img {
    width: 20%;
    height: 20%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #p2 img {
    width: 20%;
    height: 20%;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #p3 img {
    width: 5%;
    height: 5%;
  }
}
